<app-header></app-header>

<ion-content [fullscreen]="true" color="light">
  <ion-grid id="container">
    <ion-row>
      <ion-col>
        <ion-button
          fill="clear"
          size="medium"
          (click)="onDismiss()"
        >
          <ion-icon name="close-outline" slot="icon-only" color="primary"></ion-icon>
        </ion-button>

        <br>

        <ion-text>
          <h1>ResQ Eats</h1>
          <p>Email: {{ supportEmail | lowercase }}</p>
          <p>Address: {{ companyAddress }}</p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
