<app-header></app-header>

<ion-content [fullscreen]="true" color="light">
  <ion-grid id="container">
    <ion-row>
      <ion-col>
        <div class="close-btn-container">
          <ion-button
            fill="clear"
            size="medium"
            (click)="onDismiss()"
          >
            <ion-icon name="close-outline" slot="icon-only" color="primary"></ion-icon>
          </ion-button>
        </div>
        
        <ion-text color="success">Order Modal</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>