<div class="container d-flex flex-column justify-content-center aligh-items-center vh-100 vw-100">
    <div class="row">
        <div class="col-12">
            <app-header [isLoggedIn]="true"></app-header>
        </div>
    </div>

    <div class="row flex-grow-1">
        <div class="col-12">
            <h4 class="text-dark text-center fs-4 fw-semibold">Users</h4>
            <table class="table table-hover">
                <thead class="bg-dark text-light">
                    <th scope="col">ID</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email Address</th>
                    <th scope="col">Verified</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </thead>

                <tbody *ngFor="let user of users">
                    <tr>
                        <td>{{ user.user_id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email_address }}</td>
                        <td>{{ user.is_verified }}</td>
                        <td>
                            <button class="btn btn-outline-warning">EDIT</button>
                        </td>
                        <td>
                            <button class="btn btn-outline-danger" (click)="deleteUser(user.user_id)">&times;</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <app-footer [isLoggedIn]="true"></app-footer>
        </div>
    </div>
</div>
