<app-header></app-header>

<ion-content [fullscreen]="true" color="light">
  <form [formGroup]="emailForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-input
          labelPlacement="floating" 
          label="Email Address"
          fill="outline"
          shape="round"
          clearInput="true"
          type="email"
          formControlName="email_address"
        ></ion-input>
    </ion-item>

    <div class="btn-group">
      <ion-button
        fill="outline"
        color="secondary"
        (click)="onCancel()"
      >
        CANCEL
      </ion-button>

      <ion-button
        type="submit"
        color="primary"
        [disabled]="emailForm.invalid"
      >
        SEND
      </ion-button>
    </div>

    <div class="msg" *ngIf="errorMsg || successMsg">
      <ion-text *ngIf="errorMsg" color="danger">{{ errorMsg }}</ion-text>
      <ion-text *ngIf="successMsg" color="success">{{ successMsg }}</ion-text>
    </div>
    
  </form>
</ion-content>
