<ion-list id="container">
  <ion-item color="warning">
    <ion-input
      labelPlacement="floating" 
      label="Email Address"
      fill="solid"
      clearInput="true"
      type="email"
    ></ion-input>
  </ion-item>

  <ion-item color="warning"> 
    <ion-input
      labelPlacement="floating" 
      label="Password"
      fill="solid"
      clearInput="true"
      type="password"
    ></ion-input>
  </ion-item>

  <ion-item color="warning"> 
    <ion-input
      labelPlacement="floating" 
      label="Confirm Password"
      fill="solid"
      clearInput="true"
      type="password"
    ></ion-input>
  </ion-item>

  <ion-button
    fill="solid"
    color="success"
    expand="block"
    shape="round"
  >
    <ion-icon name="play-outline" slot="end"></ion-icon>
  REGISTER</ion-button>

  <ion-text color="primary">Already have an account? Log in <a routerLink="/login">here.</a></ion-text>

</ion-list>