<form [formGroup]="registerForm" (ngSubmit)="onRegister()">
  <ion-list id="container">
    <ion-item>
      <ion-input
        labelPlacement="floating" 
        label="Username"
        fill="outline"
        shape="round"
        clearInput="true"
        type="text"
        formControlName="username"
      ></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input
        labelPlacement="floating" 
        label="Email Address"
        fill="outline"
        shape="round"
        clearInput="true"
        type="email"
        formControlName="email_address"
      ></ion-input>
    </ion-item>
  
    <ion-item> 
      <ion-input
        labelPlacement="floating" 
        label="Password"
        fill="outline"
        shape="round"
        clearInput="true"
        type="password"
        formControlName="password_hash"
      ></ion-input>
    </ion-item>
  
    <ion-item> 
      <ion-input
        labelPlacement="floating" 
        label="Confirm Password"
        fill="outline"
        shape="round"
        clearInput="true"
        type="password"
        formControlName="confirm_password"
      ></ion-input>
    </ion-item>
  
    <p *ngIf=" errorMsg !== '' " class="error">{{ errorMsg }}</p>
  
    <ion-button
      fill="solid"
      color="success"
      expand="block"
      shape="round"
      type="submit"
      [disabled]="registerForm.invalid"
    >
      <ion-icon name="play-outline" slot="end"></ion-icon>
    REGISTER</ion-button>
  
    <ion-text color="primary">Already have an account? Log in <a routerLink="/login">here.</a></ion-text>
  </ion-list>
</form>