<div class="modal-header bg-primary">
    <div class="modal-title d-flex justify-content-between w-100">
        <p class="fw-semibold fs-4">Send Reset Password Link</p>
        <button 
            type="button" 
            class="btn-close" 
            aria-label="Close" 
            (click)="onClose()"
        >
    </button>
    </div>
</div>

<div class="modal-body d-flex flex-column justify-content-center">
    <form [formGroup]="sendLinkForm" (ngSubmit)="onSubmit()">
        <div class="input-group">
            <input 
                type="email" 
                formControlName="email_address" 
                placeholder="Enter your email address..."
                class="form-control"
            />

            <button type="submit" class="btn btn-outline-primary">SEND LINK</button>
        </div>
    </form>

    <p class="text-danger text-center">{{ errorMsg }}</p>
    <p class="text-success text-center">{{ successMsg }}</p>
</div>