<app-header></app-header>

<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <ion-list id="container">
      <ion-item>
        <ion-input
          labelPlacement="floating" 
          label="Email Address"
          fill="outline"
          shape="round"
          clearInput="true"
          type="email"
          formControlName="email_address"
        ></ion-input>
      </ion-item>
    
      <ion-item> 
        <ion-input
          labelPlacement="floating" 
          label="Password"
          fill="outline"
          shape="round"
          clearInput="true"
          type="password"
          formControlName="password_hash"
        >
        </ion-input>
      </ion-item>
    
      <p *ngIf=" errorMsg !== '' " class="error">{{ errorMsg }}</p>
    
      <ion-button
        fill="solid"
        color="success"
        expand="block"
        shape="round"
        type="submit"
        [disabled]="loginForm.invalid"
      >
        <ion-icon name="log-in-outline" slot="end"></ion-icon>
      LOGIN</ion-button>
    
      <ion-text color="primary">OR</ion-text>
  
      <asl-google-signin-button 
        type="standard"
        theme="filled_blue"
        text="signin_with"
        size="large"
        shape="pill"
        logo_alignment="left" 
        class="g-signin"
      ></asl-google-signin-button>
  
      <script src="https://accounts.google.com/gsi/client" async></script>
    
      <ion-text color="primary">Do not have an account? Sign up <a routerLink="/register">here.</a></ion-text>
    </ion-list>
  </form>
</ion-content>