<app-header></app-header>

<ion-content [fullscreen]="true" color="light">
  <app-sub-header></app-sub-header>
  <ion-grid id="container" *ngIf="isUser">
    <ion-row>
      <ion-col>
        <ion-item>
          <div class="profile-img">
            <ion-avatar slot="start">
              <img *ngIf="!authUserImageUrl" [src]="user.image_url" alt="profile image">
              <img *ngIf="authUserImageUrl" [src]="authUserImageUrl" alt="google profile image">
            </ion-avatar>

            <ion-button
              fill="clear"
              color="secondary"
              (click)="onEditProfileImage(user.user_id)"
            >
              <ion-icon slot="icon-only" name="build-outline"></ion-icon>
            </ion-button>
          </div>
          

          <ion-text *ngIf="isVerified" color="success">Verified</ion-text>
          <ion-text *ngIf="!isVerified" color="danger">Please check your email to verify your account</ion-text>
        </ion-item>

        <div class="details">
          <p>Name: {{ user.username | uppercase }}</p>
          <p>Email: {{ user.email_address }}</p>
          <p>Joined: {{ user.created_on | date }}</p>
        </div>

        <br>

        <ion-button
          fill="clear"
          size="small"
          color="dark"
          (click)="onPrivacyPolicy()"
        >
        Privacy Policy
        </ion-button>

        <br>
        <ion-button
          fill="clear"
          size="small"
          color="dark"
          (click)="onContact()"
        >
        Contact Us
        </ion-button>

        <br>
        <ion-button
          fill="outline"
          size="medium"
          shape="round"
          color="tertiary"
          (click)="onSwitchVendor()"
        >
          Switch to Vendor
        </ion-button>
        <br>

        <ion-button
          fill="outline"
          size="medium"
          shape="round"
          color="primary"
          (click)="logout()"
        >LOGOUT</ion-button>
        
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="container" *ngIf="!isUser">
    <ion-row>
      <ion-col>
        <ion-button fill="clear" size="large" (click)="onRefresh()">
          <ion-icon slot="icon-only" name="refresh-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col>
        <ion-text>No data to show. Refresh and try again.</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>