#container {
  text-align: center;
  padding-bottom: 20px;
  margin: 10px 0;
}

.vendor-details {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.vendor-details > ion-text {
  margin: 8px 0;
}

ion-img {
  margin: 10px;
}