<ion-tabs>
  <ion-tab-bar color="primary" slot="bottom">
    <ion-tab-button tab="home" routerLink="/home">
      <ion-label>HOME</ion-label>
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="favourites" routerLink="/favourites">
      <ion-label>FAVOURITES</ion-label>
      <ion-icon name="heart-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="orders" routerLink="/orders">
      <ion-label>ORDERS</ion-label>
      <ion-icon name="document-text-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="account" routerLink="/account">
      <ion-label>ACCOUNT</ion-label>
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
